:root {
    --bakh-en-regular: "bakh-en-regular";
    --bakh-en-medium: "bakh-en-medium";
    --bakh-en-heavy: "bakh-en-heavy";
    --bakh-en-light: "bakh-en-light";
    --bakh-en-bold: "bakh-en-bold";
    --bakh-en-thin: "bakh-en-thin";
    --bakh-en-fat: "bakh-en-fat";
    --bakh-fa-fat: "bakh-fa-fat";
    --bakh-fa-light: "bakh-fa-light";
    --bakh-fa-regular: "bakh-fa-regular";
    --mobile-width: 616px;
  }
  