@font-face {
  font-family: "bakh-fa-fat";
  src: url(./woff/YekanBakh-Fat.woff) format("woff"),
    url(./woff2/YekanBakh-Fat.woff2) format("woff2"),
    url(./eot/YekanBakh-Fat.eot) format("ie9-skip-eot");
}

@font-face {
  font-family: "bakh-fa-light";
  src: url(./woff/YekanBakh-Light.woff) format("woff"),
    url(./woff2/YekanBakh-Light.woff2) format("woff2"),
    url(./eot/YekanBakh-Light.eot) format("ie9-skip-eot");
}


@font-face {
  font-family: "bakh-fa-regular";
  src: url(./woff/YekanBakh-Regular.woff) format("woff"),
    url(./woff2/YekanBakh-Regular.woff2) format("woff2"),
    url(./eot/YekanBakh-Regular.eot) format("ie9-skip-eot");
}
