@font-face {
  font-family: "bakh-en-bold";
  src: url(../en/woff/YekanBakh-Bold.woff) format("woff"),
    url(./woff2/YekanBakh-Bold.woff2) format("woff2"),
    url(./eot/YekanBakh-Bold.eot) format("ie9-skip-eot");
}

@font-face {
  font-family: "bakh-en-fat";
  src: url(./woff/YekanBakh-Fat.woff) format("woff"),
    url(./woff2/YekanBakh-Fat.woff2) format("woff2"),
    url(./eot/YekanBakh-Fat.eot) format("ie9-skip-eot");
}

@font-face {
  font-family: "bakh-en-heavy";
  src: url(./woff/YekanBakh-Heavy.woff) format("woff"),
    url(./woff2/YekanBakh-Heavy.woff2) format("woff2"),
    url(./eot/YekanBakh-Heavy.eot) format("ie9-skip-eot");
}

@font-face {
  font-family: "bakh-en-light";
  src: url(./woff/YekanBakh-Light.woff) format("woff"),
    url(./woff2/YekanBakh-Light.woff2) format("woff2"),
    url(./eot/YekanBakh-Light.eot) format("ie9-skip-eot");
}

@font-face {
  font-family: "bakh-en-medium";
  src: url(./woff/YekanBakh-Medium.woff) format("woff"),
    url(./woff2/YekanBakh-Medium.woff2) format("woff2"),
    url(./eot/YekanBakh-Medium.eot) format("ie9-skip-eot");
}

@font-face {
  font-family: "bakh-en-regular";
  src: url(./woff/YekanBakh-Regular.woff) format("woff"),
    url(./woff2/YekanBakh-Regular.woff2) format("woff2"),
    url(./eot/YekanBakh-Regular.eot) format("ie9-skip-eot");
}

@font-face {
  font-family: "bakh-en-thin";
  src: url(./woff/YekanBakh-Thin.woff) format("woff"),
    url(./woff2/YekanBakh-Thin.woff2) format("woff2"),
    url(./eot/YekanBakh-Thin.eot) format("ie9-skip-eot");
}
