:root {
    --bakh-en-regular: "bakh-en-regular";
    --bakh-en-medium: "bakh-en-medium";
    --bakh-en-heavy: "bakh-en-heavy";
    --bakh-en-light: "bakh-en-light";
    --bakh-en-bold: "bakh-en-bold";
    --bakh-en-thin: "bakh-en-thin";
    --bakh-en-fat: "bakh-en-fat";
    --bakh-fa-fat: "bakh-fa-fat";
    --bakh-fa-light: "bakh-fa-light";
    --bakh-fa-regular: "bakh-fa-regular";
    --mobile-width: 616px;
  }
  
  body {
    --white-for-theme: #ffffff;
    --not-active: #cbcbcb;
    --text-not-active: #979797;
    --background: #f1f2f6;
    --font-color: #2f2f2f;
    --base-red: #dc1f33;
    --help-red: #ef747e;
    --success: #00966d;
    --error-bg: rgb(194, 0, 82, 0.1);
    --warning: #daa43d;
    --error: #c20052;
    --data: #168fdf;
    --total-black: #000;
  }
  