<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <!-- Create Passenger -->
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="اضافه کردن"
              style="direction: ltr"
              class="p-button-success mr-2 font-semibold text-3xl"
              (click)="openNew()"
            >
              <i class="pi pi-pw pi-plus mr-2"></i>
            </button>
          </div>
        </ng-template>

        <ng-template pTemplate="right"> </ng-template>
      </p-toolbar>
      <!-- Read Passenger -->
      <p-table
        #dt
        [value]="passengers"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0 text-center md:text-right font-semibold text-3xl">
              مدیریت مسافران
            </h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="جستجو"
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            @for (item of columns; track $index) {
            <th class="text-right text-2xl text-nowrap">{{ item.header }}</th>
            }
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-passenger>
          <tr>
            <td class="text-right text-2xl text-nowrap">
              <span class="p-column-title">firstName</span>
              {{ passenger.firstName + " " + passenger.lastName }}
            </td>
            <td class="text-right text-2xl text-nowrap">
              <span class="p-column-title">nationalID</span>
              {{ passenger.nationalID }}
            </td>
            <td class="text-right text-2xl text-nowrap">
              <span class="p-column-title">PhoneNumber</span>
              {{ passenger.phoneNumber }}
            </td>
            <td class="text-right text-2xl text-nowrap">
              <span class="p-column-title">birthDate</span>
              {{ passenger.birthDate | jdate }}
            </td>
            <td class="text-right text-2xl text-nowrap">
              <span class="p-column-title">lastEndDate</span>
              {{ passenger.lastEndDate | jdate }}
            </td>
            <td class="text-right text-2xl text-nowrap">
              <span class="p-column-title">lastRegisterNumber</span>
              {{ passenger.lastRegisterNumber }}
            </td>
            <td class="text-right text-2xl text-nowrap">
              <span class="p-column-title">Status</span>
              <span class="text-2xl">
                {{ statusTranslator(passenger.paymentStatus) }}
              </span>
            </td>
            <td class="text-right text-2xl text-nowrap">
              <div class="flex justify-content-evenly">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editPassenger(passenger)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deletePassenger(passenger)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- Edit Passenger -->
    @if(passengerDialogCreate || passengerDialogEdit){
    <p-dialog
      [(visible)]="passengerDialogEdit"
      [style]="{ width: '650px' }"
      header="اطلاعات مسافر"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <ng-container [formGroup]="passengerForm">
          <div class="field">
            <label for="firstName">نام مسافر</label>
            <input
              type="text"
              pInputText
              id="firstName"
              formControlName="firstName"
              name="firstName"
              required
              autofocus
              [ngClass]="{
                'ng-invalid ng-dirty':
                  submitted && !passengerForm.controls.firstName
              }"
            />
            <small
              class="ng-dirty ng-invalid"
              *ngIf="submitted && !passengerForm.controls.firstName"
            >
              نام مسافر الزامی است
            </small>
          </div>
          <div class="field">
            <label for="lastName">نام خانوادگی مسافر</label>
            <input
              type="text"
              pInputText
              id="lastName"
              formControlName="lastName"
              name="lastName"
              required
              autofocus
              [ngClass]="{
                'ng-invalid ng-dirty':
                  submitted && !passengerForm.controls.lastName
              }"
            />
            <small
              class="ng-dirty ng-invalid"
              *ngIf="submitted && !passengerForm.controls.lastName"
            >
              نام خانوادگی مسافر الزامی است
            </small>
          </div>
          <div class="field">
            <label for="nationalID">شماره شناسنامه</label>
            <input
              type="text"
              pInputText
              id="nationalID"
              formControlName="nationalID"
              name="nationalID"
              required
              autofocus
              [ngClass]="{
                'ng-invalid ng-dirty':
                  submitted && !passengerForm.controls.nationalID
              }"
            />
            <small
              class="ng-dirty ng-invalid"
              *ngIf="submitted && !passengerForm.controls.nationalID"
            >
              شماره شناسنامه الزامی است
            </small>
          </div>
          <div class="field">
            <label for="birthDate">تاریخ تولد</label>
            <input
              type="text"
              pInputText
              id="birthDate"
              formControlName="birthDate"
              name="birthDate"
              required
              autofocus
              [ngClass]="{
                'ng-invalid ng-dirty':
                  submitted && !passengerForm.controls.birthDate
              }"
            />
            <small
              class="ng-dirty ng-invalid"
              *ngIf="submitted && !passengerForm.controls.birthDate"
            >
              تاریخ تولد الزامی است
            </small>
          </div>
          <div class="field">
            <label for="phoneNumber">شماره همراه</label>
            <input
              type="text"
              pInputText
              id="phoneNumber"
              formControlName="phoneNumber"
              name="phoneNumber"
              required
              autofocus
              [ngClass]="{
                'ng-invalid ng-dirty':
                  submitted && !passengerForm.controls.phoneNumber
              }"
            />
            <small
              class="ng-dirty ng-invalid"
              *ngIf="submitted && !passengerForm.controls.phoneNumber"
            >
              شماره همراه الزامی است
            </small>
          </div>
          <div class="field">
            <label for="status">وضعیت پرداخت</label>
            <p-dropdown
              formControlName="paymentStatus"
              name="paymentStatus"
              inputId="status"
              optionValue="label"
              [options]="statuses"
              placeholder="انتخاب"
            >
              <ng-template pTemplate="selectedItem">
                <span
                  *ngIf="passengerForm.controls.paymentStatus"
                  class="text-2xl"
                >
                  {{ passengerForm.controls.paymentStatus.value }}
                </span>
              </ng-template>
              <ng-template let-option pTemplate="item">
                <span [class]="'product-badge status-' + option.value">{{
                  option.label
                }}</span>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="field">
            <label for="lastRegisterNumber">شماره آخرین ریجستر</label>
            <input
              type="text"
              pInputText
              id="lastRegisterNumber"
              formControlName="lastRegisterNumber"
              name="lastRegisterNumber"
              required
              autofocus
              [ngClass]="{
                'ng-invalid ng-dirty':
                  submitted && !passengerForm.controls.lastRegisterNumber
              }"
            />
          </div>
        </ng-container>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="ذخیره"
          icon="pi pi-check"
          class="p-button-text"
          (click)="saveForm()"
        ></button>
        <button
          pButton
          pRipple
          label="انصراف"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
      </ng-template>
    </p-dialog>
    }
    <!-- Delete Passenger -->
    <p-dialog
      [(visible)]="deletePassengerDialog"
      header="تاییدیه"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-start">
        <i
          class="pi pi-exclamation-triangle ml-3 align-self-start"
          style="font-size: 2rem"
        ></i>
        <span class="text-2xl" *ngIf="passenger">
          آیا از حذف مسافر با نام
          <b class="font-bold text-3xl">{{
            passenger.firstName + " " + passenger.lastName
          }}</b>
          مطمئن هستید ؟
        </span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text text-2xl"
          label="بلی"
          (click)="confirmDelete()"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text text-2xl"
          label="خیر"
          (click)="deletePassengerDialog = false"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
