<div class="grid">
  <div class="col-12">
    
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <!-- Create Passenger -->
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button
              pButton
              pRipple
              label="اضافه کردن"
              style="direction: ltr"
              class="p-button-success mr-2 font-semibold text-3xl"
              (click)="openNew()"
            >
              <i class="pi pi-pw pi-plus mr-2"></i>
            </button>
          </div>
        </ng-template>

        <ng-template pTemplate="right"> </ng-template>
      </p-toolbar>
      <!-- Read Passenger -->
      <p-table
        #dt
        [value]="passengers"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="[
          'passengerName',
          'passengerID',
          'lastRegisterId',
          'phoneNumber'
        ]"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0 text-center md:text-right font-semibold text-3xl">
              مدیریت مسافران
            </h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="جستجو"
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            @for (item of columns; track $index) {
              <th class="text-right text-2xl">{{item.header}}</th>
            }
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-passenger>
          <tr>
            <td class="text-right text-2xl">
              <span class="p-column-title">PassengerName</span>
              {{ passenger.passengerName }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">PassengerID</span>
              {{ passenger.passengerID }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">BirthDate</span>
              {{ passenger.birthDate }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">PhoneNumber</span>
              {{ passenger.phoneNumber }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">fromDate</span>
              {{ passenger.fromDate }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">toDate</span>
              {{ passenger.toDate }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">lastRegisterId</span>
              {{ passenger.lastRegisterId }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">Status</span>
              <span class="text-2xl">
                {{ statusTranslator(passenger.status) }}
              </span>
            </td>
            <td class="text-right text-2xl">
              <div class="flex justify-content-evenly">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editPassenger(passenger)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deletePassenger(passenger)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <!-- Edit Passenger -->
    <p-dialog
      [(visible)]="passengerDialog"
      [style]="{ width: '650px' }"
      header="اطلاعات مسافر"
      [modal]="true"
      class="p-fluid"
    >
      <ng-template pTemplate="content">
        <div class="field">
          <label for="passengerName">نام مسافر</label>
          <input
            type="text"
            pInputText
            id="passengerName"
            [(ngModel)]="passenger.passengerName"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !passenger.passengerName
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !passenger.passengerName"
          >
            نام مسافر الزامی است
          </small>
        </div>
        <div class="field">
          <label for="passengerID">شماره شناسنامه</label>
          <input
            type="text"
            pInputText
            id="passengerID"
            [(ngModel)]="passenger.passengerID"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !passenger.passengerID
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !passenger.passengerID"
          >
            شماره شناسنامه الزامی است
          </small>
        </div>
        <div class="field">
          <label for="birthDate">تاریخ تولد</label>
          <input
            type="text"
            pInputText
            id="birthDate"
            [(ngModel)]="passenger.birthDate"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !passenger.birthDate
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !passenger.birthDate"
          >
            تاریخ تولد الزامی است
          </small>
        </div>
        <div class="field">
          <label for="phoneNumber">شماره همراه</label>
          <input
            type="text"
            pInputText
            id="phoneNumber"
            [(ngModel)]="passenger.phoneNumber"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !passenger.phoneNumber
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !passenger.phoneNumber"
          >
            شماره همراه الزامی است
          </small>
        </div>
        <div class="field">
          <label for="fromDate">تاریخ شروع</label>
          <input
            type="text"
            pInputText
            id="fromDate"
            [(ngModel)]="passenger.fromDate"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !passenger.fromDate
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !passenger.fromDate"
          >
            تاریخ شروع الزامی است
          </small>
        </div>
        <div class="field">
          <label for="toDate">تاریخ اتمام</label>
          <input
            type="text"
            pInputText
            id="toDate"
            [(ngModel)]="passenger.toDate"
            required
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': submitted && !passenger.toDate
            }"
          />
          <small
            class="ng-dirty ng-invalid"
            *ngIf="submitted && !passenger.toDate"
          >
            تاریخ اتمام الزامی است
          </small>
        </div>
        <div class="field">
          <label for="status">وضعیت پرداخت</label>
          <p-dropdown
            [(ngModel)]="passenger.status"
            inputId="status"
            optionValue="label"
            [options]="statuses"
            placeholder="انتخاب"
          >
            <ng-template pTemplate="selectedItem">
              <span *ngIf="passenger && passenger.status" class="text-2xl">
                {{ passenger.status }}
              </span>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <span [class]="'product-badge status-' + option.value">{{
                option.label
              }}</span>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="field">
          <label for="lastRegisterId">شماره آخرین ریجستر</label>
          <input
            type="text"
            pInputText
            id="lastRegisterId"
            [(ngModel)]="passenger.lastRegisterId"
            required
            autofocus
            disabled
          />
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          label="ذخیره"
          icon="pi pi-check"
          class="p-button-text"
          (click)="savePassenger()"
        ></button>
        <button
          pButton
          pRipple
          label="انصراف"
          icon="pi pi-times"
          class="p-button-text"
          (click)="hideDialog()"
        ></button>
      </ng-template>
    </p-dialog>
    <!-- Delete Passenger -->
    <p-dialog
      [(visible)]="deletePassengerDialog"
      header="تاییدیه"
      [modal]="true"
      [style]="{ width: '450px' }"
    >
      <div class="flex align-items-center justify-content-start">
        <i
          class="pi pi-exclamation-triangle ml-3 align-self-start"
          style="font-size: 2rem"
        ></i>
        <span class="text-2xl" *ngIf="passenger">
          آیا از حذف مسافر با نام
          <b class="font-bold text-3xl">{{ passenger.passengerName }}</b>
          مطمئن هستید ؟
        </span>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          pRipple
          icon="pi pi-check"
          class="p-button-text text-2xl"
          label="بلی"
          (click)="confirmDelete()"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-times"
          class="p-button-text text-2xl"
          label="خیر"
          (click)="deletePassengerDialog = false"
        ></button>
      </ng-template>
    </p-dialog>
  </div>
</div>
