<div class="grid">
  <div class="col-12 md:col-6">
    <form class="card h-full p-fluid" [formGroup]="passengerForm">
      <h5 class="font-bold text-500 text-2xl">ورود اطلاعات مسافر</h5>
      <ng-container formArrayName="passengerArray">
        @for (item of passengerForm.controls.passengerArray.controls; track
        $index) {
        <ng-container [formGroup]="item">
          <div class="p-formgrid grid">
            <div class="field col">
              <label htmlFor="passengerName">نام و نام خانوادگی</label>
              <input
                pInputText
                id="passengerName"
                name="passengerName"
                formControlName="passengerName"
                type="text"
              />
            </div>
            <div class="field col">
              <label htmlFor="price">قیمت</label>
              <input
                pInputText
                id="price"
                name="price"
                formControlName="price"
                type="text"
              />
            </div>
          </div>
          <div class="p-formgrid grid">
            <div class="field col">
              <label htmlFor="roomNo">شماره اتاق</label>
              <input
                pInputText
                id="roomNo"
                name="roomNo"
                formControlName="roomNo"
                type="text"
              />
            </div>
            <div class="field col">
              <label htmlFor="providerName">نام آژانس</label>
              <input
                pInputText
                id="providerName"
                name="providerName"
                formControlName="providerName"
                type="text"
              />
            </div>
          </div>
          <div class="p-formgrid grid">
            <div class="field col">
              <label htmlFor="fromDate">از تاریخ</label>
              <input
                pInputText
                id="fromDate"
                name="fromDate"
                formControlName="fromDate"
                placeholder="1400-01-01"
                type="text"
              />
            </div>
            <div class="field col">
              <label htmlFor="toDate">تا تاریخ</label>
              <input
                pInputText
                id="toDate"
                name="toDate"
                formControlName="toDate"
                placeholder="1400-01-01"
                type="text"
              />
            </div>
          </div>
          <div class="p-formgrid grid">
            <div class="field col">
              <label htmlFor="passengerId">شماره شناسنامه</label>
              <input
                pInputText
                id="passengerId"
                name="passengerId"
                formControlName="passengerId"
                type="text"
              />
            </div>
            <div class="field col">
              <label htmlFor="invoiceNo">شماره سربرگه</label>
              <input
                pInputText
                id="invoiceNo"
                name="invoiceNo"
                formControlName="invoiceNo"
                type="text"
              />
            </div>
          </div>
          <div class="p-formgrid grid">
            <div class="field flex align-items-end col">
              <p-toast></p-toast>
              <button
                (click)="confirm($event)"
                pButton
                label="تایید اطلاعات"
              ></button>
              <!-- <p-confirmPopup key="confirmForm"></p-confirmPopup> -->
            </div>
          </div>
        </ng-container>

        }
      </ng-container>
    </form>
  </div>
  <div class="col-12 md:col-6 pb-0">
    <div class="grid h-full">
      @if(roomsData.length > 0){ @for (item of roomsData; track $index) {
      <div class="col-12 lg:col-6 xl:col-4 pb-0 pl-2 pr-2 cursor-pointer" [routerLink]="'/dashboard/room/' + item.roomNumber ">
        <div class="card mb-0 h-full">
          <div class="flex justify-content-between mb-3">
            <span class="text-900 font-bold text-2xl flex align-items-center">
              @if (item.isRoomFull) {
              {{ item.passengers.firstName + item.passengers.lastName   }}
              } @else { اتاق خالی }
            </span>
            <div
              class="flex align-items-center justify-content-center bg- bg-blue-500 border-round"
              [ngClass]="{
                'bg-red-400': item.isRoomFull && daysRemaining(item.reservedFrom, item.reservedUntil) === 0,
                'bg-cyan-500': item.isRoomFull && daysRemaining(item.reservedFrom, item.reservedUntil) !== 0,
                'bg-green-500': !item.isRoomFull
              }"
              style="width: 3rem; height: 3rem"
            >
              <span class="text-white font-bold text-2xl">
                {{ item.roomNumber }}
              </span>
            </div>
          </div>
          @if (item.isRoomFull){
          <div>
            <span class="text-500"> نام آژانس : </span>
            <span class="text-900 font-bold text-2xl mr-2">{{
              item.agencyName ? item.agencyName : "-"
            }}</span>
          </div>
          } @if (daysRemaining(item.reservedFrom, item.reservedUntil) >= 0 && item.isRoomFull) {
          <span class="text-500">تعداد روز باقیمانده : </span>
          <span
            class="text-green-500 font-bold text-2xl mr-2"
            [ngClass]="{ 'text-red-500': daysRemaining(item.reservedFrom, item.reservedUntil) >= 0 }"
            >{{ daysRemaining(item.reservedFrom, item.reservedUntil) }} روز
          </span>
          } @else {
          <span class="text-red-500 text-2xl font-bold">کسی اینجا نیست ! </span>
          }
        </div>
      </div>
      } }
    </div>
  </div>
</div>
