<div class="grid">
  <div class="col-12">
    
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <!-- Read Passenger -->
      <p-table
        #dt
        [value]="reserves"
        [columns]="cols"
        responsiveLayout="scroll"
        [rows]="10"
        [globalFilterFields]="[
          'reserveCode',
          'roomNumber',
          'reservedBy',
          'receivedBy'
        ]"
        [rowsPerPageOptions]="[10, 20, 30]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <h5 class="m-0 text-center md:text-right font-semibold text-3xl">
              مدیریت رزرو
            </h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="جستجو"
                class="w-full sm:w-auto"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            @for (item of columns; track $index) {
              <th class="text-right text-2xl">{{item.header}}</th>
            }
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reserve>
          <tr>
            <td class="text-right text-2xl">
              <span class="p-column-title">reserveCode</span>
              {{ reserve.reserveCode }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">roomNumber</span>
              {{ reserve.roomNumber }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">passengers</span>
              {{ reserve.passengers.firstName + ' ' + reserve.passengers.lastName}}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">startDate</span>
              {{ reserve.startDate }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">endDate</span>
              {{ reserve.endDate }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">reservedBy</span>
              {{ reserve.reservedBy }}
            </td>
            <td class="text-right text-2xl">
              <span class="p-column-title">receivedBy</span>
              {{ reserve.receivedBy }}
            </td>
            <td class="text-right text-2xl">
              <div class="flex justify-content-evenly">
                <button
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="editReserve(reserve)"
                ></button>
                <button
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="deleteReserve(reserve)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
