<p-toast></p-toast>
<div class="hidden md:block">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <div class="my-2">
        <button
          pButton
          pRipple
          label="ثبت اطلاعات"
          style="direction: ltr"
          class="p-button-success mr-2 font-semibold text-3xl"
          (click)="saveInformation()"
        >
          <i class="pi pi-pw pi-plus mr-2"></i>
        </button>
      </div>
    </ng-template>

    <ng-template pTemplate="right"> </ng-template>
  </p-toolbar>
</div>
<div class="grid">
  <div class="col-12 md:col-6">
    <form class="card p-fluid" [formGroup]="roomsFormGroup">
      <h5 class="text-3xl font-bold">اطلاعات اتاق</h5>
      <div class="p-formgrid grid">
        <div *ngIf="roomNumbers.length > 0" class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="roomNumber">شماره اتاق</label>
          <p-dropdown
            [options]="roomNumbers"
            dataKey="code"
            optionLabel="name"
            formControlName="roomNumber"
            name="roomNumber"
          ></p-dropdown>
          @if( roomsFormGroup.controls.roomNumber.invalid &&
          roomsFormGroup.controls.roomNumber.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="roomType">نوع اتاق</label>
          <input
            pInputText
            name="roomType"
            formControlName="roomType"
            id="roomType"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                roomsFormGroup.controls.roomType.invalid &&
                roomsFormGroup.controls.roomType.touched
            }"
          />
          @if( roomsFormGroup.controls.roomType.invalid &&
          roomsFormGroup.controls.roomType.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>

        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="registerId">شماره ریجستر</label>
          <input
            pInputText
            name="registerId"
            formControlName="registerId"
            id="registerId"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                roomsFormGroup.controls.registerId.invalid &&
                roomsFormGroup.controls.registerId.touched
            }"
          />
          @if( roomsFormGroup.controls.registerId.invalid &&
          roomsFormGroup.controls.registerId.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="roomPrice">قیمت اتاق</label>
          <input
            pInputText
            name="roomPrice"
            formControlName="roomPrice"
            id="roomPrice"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                roomsFormGroup.controls.roomPrice.invalid &&
                roomsFormGroup.controls.roomPrice.touched
            }"
          />
          @if( roomsFormGroup.controls.roomPrice.invalid &&
          roomsFormGroup.controls.roomPrice.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>

        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="startDate">تاریخ ورود</label>
          <input
            pInputText
            name="startDate"
            formControlName="startDate"
            id="startDate"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                roomsFormGroup.controls.startDate.invalid &&
                roomsFormGroup.controls.startDate.touched
            }"
          />
          @if( roomsFormGroup.controls.startDate.invalid &&
          roomsFormGroup.controls.startDate.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="endDate">تاریخ خروج</label>
          <input
            pInputText
            name="endDate"
            formControlName="endDate"
            id="endDate"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                roomsFormGroup.controls.endDate.invalid &&
                roomsFormGroup.controls.endDate.touched
            }"
          />
          @if( roomsFormGroup.controls.endDate.invalid &&
          roomsFormGroup.controls.endDate.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>

        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="reservedBy">مسئول رزرو</label>
          <input
            pInputText
            name="reservedBy"
            formControlName="reservedBy"
            id="reservedBy"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                roomsFormGroup.controls.reservedBy.invalid &&
                roomsFormGroup.controls.reservedBy.touched
            }"
          />
          @if( roomsFormGroup.controls.reservedBy.invalid &&
          roomsFormGroup.controls.reservedBy.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="receivedBy">مسئول تحویل</label>
          <input
            pInputText
            name="receivedBy"
            formControlName="receivedBy"
            id="receivedBy"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                roomsFormGroup.controls.receivedBy.invalid &&
                roomsFormGroup.controls.receivedBy.touched
            }"
          />
          @if( roomsFormGroup.controls.receivedBy.invalid &&
          roomsFormGroup.controls.receivedBy.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>
      </div>
    </form>

    <form class="card p-fluid" [formGroup]="agencyFormGroup">
      <h5 class="text-3xl font-bold">اطلاعات آژانس</h5>
      <div class="p-formgrid grid">
        <div div *ngIf="agencyNames.length > 0" class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="agencyName">نام آژانس</label>
          <p-dropdown
            [options]="agencyNames"
            dataKey="code"
            optionLabel="name"
            formControlName="agencyName"
            name="agencyName"
          ></p-dropdown>
          @if( agencyFormGroup.controls.agencyName.invalid &&
          agencyFormGroup.controls.agencyName.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 md:col-6">
    <form class="card p-fluid" [formGroup]="passengerFormGroup">
      <h5 class="text-3xl font-bold">اطلاعات مسافر</h5>
      <div class="p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="firstName">نام</label>
          <input
            pInputText
            name="firstName"
            formControlName="firstName"
            id="firstName"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                passengerFormGroup.controls.firstName.invalid &&
                passengerFormGroup.controls.firstName.touched
            }"
          />
          @if( passengerFormGroup.controls.firstName.invalid &&
          passengerFormGroup.controls.firstName.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="lastName">نام خانوادگی</label>
          <input
            pInputText
            name="lastName"
            formControlName="lastName"
            id="lastName"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                passengerFormGroup.controls.lastName.invalid &&
                passengerFormGroup.controls.lastName.touched
            }"
          />
          @if( passengerFormGroup.controls.lastName.invalid &&
          passengerFormGroup.controls.lastName.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>

        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="nationalID">کد ملی</label>
          <input
            pInputText
            name="nationalID"
            formControlName="nationalID"
            id="nationalID"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                passengerFormGroup.controls.nationalID.invalid &&
                passengerFormGroup.controls.nationalID.touched
            }"
          />
          @if( passengerFormGroup.controls.nationalID.invalid &&
          passengerFormGroup.controls.nationalID.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="phoneNumber">شماره همراه</label>
          <input
            pInputText
            name="phoneNumber"
            formControlName="phoneNumber"
            id="phoneNumber"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                passengerFormGroup.controls.phoneNumber.invalid &&
                passengerFormGroup.controls.phoneNumber.touched
            }"
          />
          @if( passengerFormGroup.controls.phoneNumber.invalid &&
          passengerFormGroup.controls.phoneNumber.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>

        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="birthDate">تاریخ تولد</label>
          <input
            pInputText
            name="birthDate"
            formControlName="birthDate"
            id="birthDate"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                passengerFormGroup.controls.birthDate.invalid &&
                passengerFormGroup.controls.birthDate.touched
            }"
          />
          @if( passengerFormGroup.controls.birthDate.invalid &&
          passengerFormGroup.controls.birthDate.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="birthLocation">محل تولد</label>
          <input
            pInputText
            name="birthLocation"
            formControlName="birthLocation"
            id="birthLocation"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                passengerFormGroup.controls.birthLocation.invalid &&
                passengerFormGroup.controls.birthLocation.touched
            }"
          />
          @if( passengerFormGroup.controls.birthLocation.invalid &&
          passengerFormGroup.controls.birthLocation.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="nationalityType">ملیت</label>
          <input
            pInputText
            name="nationalityType"
            formControlName="nationalityType"
            id="nationalityType"
            type="text"
            [ngClass]="{
              'ng-invalid ng-dirty':
                passengerFormGroup.controls.nationalityType.invalid &&
                passengerFormGroup.controls.nationalityType.touched
            }"
          />
          @if( passengerFormGroup.controls.nationalityType.invalid &&
          passengerFormGroup.controls.nationalityType.touched ){

          <span class="ng-dirty">این فیلد الزامی می‌باشد</span>
          }
        </div>
        <div class="field col-12 md:col-6">
          <label class="text-2xl" htmlFor="genderType">جنسیت</label>
          <p-dropdown
            [options]="genderTypes"
            dataKey="code"
            optionLabel="name"
            formControlName="genderType"
            name="genderType"
          ></p-dropdown>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="block md:hidden">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <div class="my-2">
        <button
          pButton
          pRipple
          label="ثبت اطلاعات"
          style="direction: ltr"
          class="p-button-success mr-2 font-semibold text-3xl"
          (click)="saveInformation()"
        >
          <i class="pi pi-pw pi-plus mr-2"></i>
        </button>
      </div>
    </ng-template>

    <ng-template pTemplate="right"> </ng-template>
  </p-toolbar>
</div>
